:root { 
--white_A700_3f:#ffffff3f; 
--red_600:#f52c20; 
--blue_gray_600_6c:#54587d6c; 
--blue_A700:#0e6bf6; 
--light_blue_A200:#41baff; 
--light_blue_400:#17b1e9; 
--green_A400:#04ef62; 
--blue_gray_200_01:#adb3cc; 
--blue_gray_600_87:#54587d87; 
--blue_gray_700:#50556a; 
--blue_50_01:#ddeffa; 
--green_A400_01:#00de73; 
--blue_gray_900:#0b3147; 
--gray_900_02:#1c2031; 
--gray_900_03:#191d2f; 
--blue_gray_200:#adb2cc; 
--gray_900_04:#1a1e30; 
--red_600_01:#f52d20; 
--blue_gray_600:#54587d; 
--gray_900:#161828; 
--gray_900_01:#171a2c; 
--amber_700:#e5a500; 
--blue_gray_600_01:#585f7f; 
--blue_gray_600_02:#585f80; 
--blue_50:#dceff9; 
--gray_100:#effff7; 
--indigo_50_14:#e1e4f214; 
--indigo_A700:#0229e7; 
--white_A700:#ffffff; 
}